button {
    background-color: transparent;
    border: none;
    outline: none;
    padding: 0;
    appearance: none;
}

#Audio-Control {
    overflow: hidden;
}

#Audio-Control button {
    border: 1px solid #ccc;
    width: 40px;
    float: left;
    padding: 5px 0;
    -webkit-transition: all 0.6s ease;
    -moz-transition: all 0.6s ease;
    -o-transition: all 0.6s ease;
    transition: all 0.6s ease;
}

#Audio-Control button.on {
    border-left: none;
}

#Audio-Control button.off {
    border-right: none;
}

#Audio-Control button.actiove {
    background: rgb(0, 4, 255);
}

#Audio-Control button:not(.active):hover {
    background: rgba(0, 0, 0, 0.3);
}